* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'JetBrains Mono', monospace;
}

.App {
}
.App {
  height: 100vh;
}

.wrapper {
  display: flex;
}

nav {
  height: min-content;
  background: #1b1d1f;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 6px 18px rgba(10, 10, 10, 0.06);
  margin: 10px;
  padding: 18px;
}
nav a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 18px;
  color: #9b9d9e;
}

nav a.active {
  color: #fff;
}
main {
  background: #fcfcfc;
  height: 100vh;
  width: 100%;
}
main > * {
  padding: 15px;
}

.logo {
  position: absolute;
  width: 100px;
  height: auto;
  max-height: 100%;
  right: 11px;
}
